{% for dist in dists %}
Origin: {{ org }}
Label: {{ org }} {{ dist }}
Codename: {{ dist }}
Architectures: {{ ' '.join(arches) }}
Components: main
Description: {{ org }} Debian Repository
{% if signwith_key %}
SignWith: {{ signwith_key }}
{% endif %}

{% endfor %}
